{{#extends 'base'}}

{{#block 'content'}}

    <h1>Your Product Listings</h1>
    <a href="/listings/create" class="btn btn-primary">Add Product</a>


    <div className="container-fluid" id="mainSection">
    {{!-- search forms --}}
        <section id="searchSection">
            <form method="GET">
                {{{form}}}
                <button class="btn btn-primary">Search</button>
            </form>
        </section>

        {{!-- owned listings --}}
        <section id="displaySection">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date Posted</th>
                        <th>Vendor ID</th>
                        <th>Name</th>
                        <th>Stock</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each gameListings}}
                    <tr>
                        <td>
                            {{this.posted_date}}
                        </td>
                        <td>
                            {{this.vendor_id}}
                        </td>
                        <td>
                            {{this.name}}
                        </td>
                        <td>
                            {{this.stock}}
                        </td>
                        <td>
                            <a href='/listings/{{this.id}}/update' class="btn btn-primary btn-small">Edit</a>
                        </td>
                    </tr>

                    {{/each}}
                </tbody>
            </table>
        </section>
    </div>






{{/block}}

{{/extends}}