{{#extends 'base'}}

{{#block 'content'}}

    <div class="container-fluid" id="mainSection">
    {{!-- search forms --}}
        <section id="searchSection">
            <h2>Filter</h2>
            <form method="GET">
                {{{form}}}
                <button class="btn btn-primary my-3">Search</button>
                 <a class="btn resetFilterBtn" href="/listings">Reset</a>
            </form>
        </section>

        {{!-- owned listings --}}
        <section id="displaySection">
            <div id="listingHeader">
                 <h1>Your Products</h1><a href="/listings/create" class="btn">Add Product</a>
            </div>
            <hr></hr>

            {{#if gameListings}}
                <table class="table">
                <thead>
                    <tr>
                        <th>Date Posted</th>
                        <th>Name</th>
                        <th>Categories</th>
                        <th>Unit Price</th>
                        <th>Stock</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each gameListings}}
                    <tr>
                        <td>
                            {{moment this.posted_date 'LLL'}}
                        </td>
                        <td>
                            {{this.name}}
                        </td>
                        <td>
                            {{#each this.category}}
                                 <span class="badge rounded-pill bg-secondary"> {{name}}</span>
                            {{/each}}
                        </td>
                        <td>
                            ${{divide this.price 100}}
                        </td>
                        <td>
                            {{this.stock}}
                        </td>
                        <td>
                            <a href='/listings/{{this.id}}/update' class="btn btn-primary btn-small">Edit</a>
                        </td>
                    </tr>

                    {{/each}}
                </tbody>
            </table>

            {{else}}
            <p>No listings yet</p>
            {{/if}}
            
        </section>
    </div>


{{/block}}

{{/extends}}