{{#extends 'base'}}

{{#block 'content'}}
<h1>Your Product Listings</h1>
<a href="/listings/create" class="btn btn-primary">Add Product</a>

{{!-- {{#each gameListings}}
    <p>id: {{this.id}}</p>
    <p>name: {{this.name}}</p>
    <p>price: {{this.price}}</p>
    <p>description: {{this.description}}</p>
    <p>min_player: {{this.min_player_count}}</p>
    <p>max_player: {{this.max_player_count}}</p>
    <p>age: {{this.min_age}}</p>
    <p>duration: {{this.duration}}</p>
    <p>posted on: {{this.posted_date}}</p>
    <p>published on: {{this.published_date}}</p>
    <p>designer: {{this.designer}}</p>
    <p>publisher: {{this.publisher}}</p>
    <p>stock: {{this.stock}}</p>
    <p>image: {{this.image}}</p>
    <p>vendor_id: {{this.vendor_id}}</p>
{{/each}} --}}

<table class="table">
    <thead>
        <tr>
            <th>Date Posted</th>
            <th>Vendor ID</th>
            <th>Name</th>
            <th>Stock</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each gameListings}}
        <tr>
            <td>
                {{this.posted_date}}
            </td>
            <td>
                {{this.vendor_id}}
            </td>
            <td>
                {{this.name}}
            </td>
            <td>
                {{this.stock}}
            </td>
            <td>
                <a href='/listings/{{this.id}}/update' class="btn btn-primary btn-small">Edit</a>
            </td>
        </tr>

        {{/each}}
    </tbody>
</table>


{{/block}}

{{/extends}}