{{#extends 'base'}}

{{#block 'content'}}
<h1>Displaying Order {{order.id}}</h1>
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    {{{form}}}<button class="btn btn-warning my-3">Save Changes</button>
</form>
<h2>Customer's Details</h2>
<p>Username: {{user.username}}</p>
<p>Shipping address: {{user.address}}</p>
<p>Contact number: {{user.phone_number}}</p>
<p>Email: {{user.email}}</p>

<table class="table">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>GameListing Id</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Unit Price</th>

        </tr>
    </thead>
    <tbody>
        {{#each orderItems}}
        <tr>
            <td>
                {{this.order_id}}
            </td>
            <td>
                {{this.gameListing_id}}
            </td>
            <td>
                {{this.gameListing.name}}
            </td>
            <td>
                {{this.quantity}}
            </td>
            <td>
                {{this.unit_price}}
            </td>
         
        </tr>

        {{/each}}
    </tbody>
</table>


{{/block}}

{{/extends}}